.mule/plugins-tmp/repository/4.1/org/mule/connectors/mule-wsc-connector/1.1.1/mule-wsc-connector-1.1.1-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/wsc" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="org.mule.extension.ws.api.message.CustomTransportConfiguration">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" type="wsc:org.mule.extension.ws.api.message.CustomTransportConfiguration" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-custom-transport-configuration"></xs:element>
  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" type="wsc:org.mule.extension.ws.api.message.CustomTransportConfiguration" abstract="true" name="abstract-custom-transport-configuration"></xs:element>
  <xs:complexType name="org.mule.extension.ws.api.message.CustomHttpTransportConfiguration">
    <xs:complexContent>
      <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.message.CustomTransportConfiguration">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="requesterConfig"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" type="wsc:org.mule.extension.ws.api.message.CustomHttpTransportConfiguration" substitutionGroup="wsc:abstract-custom-transport-configuration" abstract="true" name="abstract-http-transport-configuration"></xs:element>
  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" substitutionGroup="wsc:abstract-http-transport-configuration" name="http-transport-configuration">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="wsc:org.mule.extension.ws.api.message.CustomHttpTransportConfiguration"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="custom-transport-configuration">
              <xs:annotation>
                <xs:documentation>The transport configuration used to dispatch the SOAP messages.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" minOccurs="1" maxOccurs="1" ref="wsc:abstract-custom-transport-configuration"></xs:element>
                  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" minOccurs="1" maxOccurs="1" ref="wsc:global-abstract-custom-transport-configuration"></xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="web-service-security">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="1" name="sign-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a sign WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssSignSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="verify-signature-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a verify signature WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssVerifySignatureSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="username-token-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a usernameToken WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssUsernameTokenSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="timestamp-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a timestamp WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssTimestampSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="decrypt-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a decrypt WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssDecryptSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="encrypt-security-strategy">
                        <xs:annotation>
                          <xs:documentation>an encrypt WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssEncryptSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="optional" name="signSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a sign WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="verifySignatureSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a verify signature WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="usernameTokenSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a usernameToken WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="timestampSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a timestamp WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="decryptSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a decrypt WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="encryptSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>an encrypt WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/wsc" type="org.mule.runtime.soap.api.SoapVersionEnumType" use="optional" default="SOAP11" name="soapVersion">
            <xs:annotation>
              <xs:documentation>The soap version of the WSDL.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="mtomEnabled">
            <xs:annotation>
              <xs:documentation>If should use the MTOM protocol to manage the attachments or not.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="customTransportConfiguration">
            <xs:annotation>
              <xs:documentation>The transport configuration used to dispatch the SOAP messages.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="wsdlLocation">
            <xs:annotation>
              <xs:documentation>The WSDL file URL remote or local.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="service">
            <xs:annotation>
              <xs:documentation>The service name.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="port">
            <xs:annotation>
              <xs:documentation>The port name.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="address">
            <xs:annotation>
              <xs:documentation>The address of the web service.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.ws.api.security.config.WssKeyStoreConfigurationAdapter">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="alias"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="keyPassword"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="keyStorePath"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="jks" name="type"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.WssSignSecurityStrategy">
    <xs:annotation>
      <xs:documentation>a sign WSS configuration</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="key-store-configuration">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.config.WssKeyStoreConfigurationAdapter"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="keyStoreConfiguration"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.config.WssTrustStoreConfigurationAdapter">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="trustStorePath"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="jks" name="type"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.WssVerifySignatureSecurityStrategy">
    <xs:annotation>
      <xs:documentation>a verify signature WSS configuration</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="trust-store-configuration">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.config.WssTrustStoreConfigurationAdapter"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="trustStoreConfiguration"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.WssUsernameTokenSecurityStrategy">
    <xs:annotation>
      <xs:documentation>a usernameToken WSS configuration</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="username"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="password"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/wsc" type="org.mule.runtime.extension.api.soap.security.PasswordTypeEnumType" use="optional" default="TEXT" name="passwordType"></xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="addNonce"></xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="addCreated"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.WssTimestampSecurityStrategy">
    <xs:annotation>
      <xs:documentation>a timestamp WSS configuration</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionLong" use="optional" default="60" name="timeToLive"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/wsc" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="timeToLiveUnit"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.WssDecryptSecurityStrategy">
    <xs:annotation>
      <xs:documentation>a decrypt WSS configuration</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="key-store-configuration">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.config.WssKeyStoreConfigurationAdapter"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="keyStoreConfiguration"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.extension.ws.api.security.WssEncryptSecurityStrategy">
    <xs:annotation>
      <xs:documentation>an encrypt WSS configuration</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="key-store-configuration">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.config.WssKeyStoreConfigurationAdapter"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="keyStoreConfiguration"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/wsc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ConsumeType" substitutionGroup="mule:abstract-operator" name="consume">
    <xs:annotation>
      <xs:documentation>Consumes an operation from a SOAP Web Service.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ConsumeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="message">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="body">
                      <xs:annotation>
                        <xs:documentation>The XML body to include in the SOAP message, with all the required parameters, or null if no params are required.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="headers">
                      <xs:annotation>
                        <xs:documentation>The XML headers to include in the SOAP message.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="attachments">
                      <xs:annotation>
                        <xs:documentation>The attachments to include in the SOAP request.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transport-headers">
            <xs:annotation>
              <xs:documentation>A group of transport headers that will be bounded with the transport request.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="transport-header">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="operation">
          <xs:annotation>
            <xs:documentation>the name of the web service operation that aims to invoke.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="transportHeaders">
          <xs:annotation>
            <xs:documentation>A group of transport headers that will be bounded with the transport request.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="custom-transport-configuration">
              <xs:annotation>
                <xs:documentation>The transport configuration used to dispatch the SOAP messages.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" minOccurs="1" maxOccurs="1" ref="wsc:abstract-custom-transport-configuration"></xs:element>
                  <xs:element xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" minOccurs="1" maxOccurs="1" ref="wsc:global-abstract-custom-transport-configuration"></xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="web-service-security">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="1" name="sign-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a sign WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssSignSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="verify-signature-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a verify signature WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssVerifySignatureSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="username-token-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a usernameToken WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssUsernameTokenSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="timestamp-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a timestamp WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssTimestampSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="decrypt-security-strategy">
                        <xs:annotation>
                          <xs:documentation>a decrypt WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssDecryptSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="encrypt-security-strategy">
                        <xs:annotation>
                          <xs:documentation>an encrypt WSS configuration</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" base="wsc:org.mule.extension.ws.api.security.WssEncryptSecurityStrategy"></xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="optional" name="signSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a sign WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="verifySignatureSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a verify signature WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="usernameTokenSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a usernameToken WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="timestampSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a timestamp WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="decryptSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>a decrypt WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="encryptSecurityStrategy">
                      <xs:annotation>
                        <xs:documentation>an encrypt WSS configuration</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/wsc" type="org.mule.runtime.soap.api.SoapVersionEnumType" use="optional" default="SOAP11" name="soapVersion">
            <xs:annotation>
              <xs:documentation>The soap version of the WSDL.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="mtomEnabled">
            <xs:annotation>
              <xs:documentation>If should use the MTOM protocol to manage the attachments or not.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="customTransportConfiguration">
            <xs:annotation>
              <xs:documentation>The transport configuration used to dispatch the SOAP messages.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="wsdlLocation">
            <xs:annotation>
              <xs:documentation>The WSDL file URL remote or local.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="service">
            <xs:annotation>
              <xs:documentation>The service name.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="port">
            <xs:annotation>
              <xs:documentation>The port name.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="address">
            <xs:annotation>
              <xs:documentation>The address of the web service.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="org.mule.runtime.soap.api.SoapVersionEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SOAP11"></xs:enumeration>
          <xs:enumeration value="SOAP12"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.runtime.extension.api.soap.security.PasswordTypeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="TEXT"></xs:enumeration>
          <xs:enumeration value="DIGEST"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>