.mule/plugins-tmp/repository/4.1/com/mulesoft/munit/munit-tools/2.1.4/munit-tools-2.1.4-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/munit-tools" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AssertThatType" substitutionGroup="mule:abstract-operator" name="assert-that"></xs:element>
  <xs:complexType name="AssertThatType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="xs:string" use="required" name="expression"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="is"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="message"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FailType" substitutionGroup="mule:abstract-operator" name="fail"></xs:element>
  <xs:complexType name="FailType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="message"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MockWhenType" substitutionGroup="mule:abstract-operator" name="mock-when"></xs:element>
  <xs:complexType name="MockWhenType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="with-attributes">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-with-attribute"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="then-return">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.Event"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="processor"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="withAttributes"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="thenReturn"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.Attribute">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="attributeName"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="whereValue"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Attribute" abstract="true" name="abstract-with-attribute"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-with-attribute" name="with-attribute">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Attribute"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Payload">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.EventAttributes">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.EventError">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="optional" name="typeId"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="cause"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.Variable">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Variable" abstract="true" name="abstract-variable"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-variable" name="variable">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Variable"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Property">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Property" abstract="true" name="abstract-property"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-property" name="property">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Property"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Attachment">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Attachment" abstract="true" name="abstract-attachment"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-attachment" name="attachment">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Attachment"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Event">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="payload">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.Payload"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="attributes">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.EventAttributes"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="error">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.EventError"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="variables">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-variable"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="session-properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-property"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="inbound-properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-property"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="outbound-properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-property"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="inbound-attachments">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-attachment"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="outbound-attachments">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-attachment"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="payload"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="attributes"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="error"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="variables"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="sessionProperties"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="inboundProperties"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="outboundProperties"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="inboundAttachments"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="outboundAttachments"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RunCustomType" substitutionGroup="mule:abstract-operator" name="run-custom"></xs:element>
  <xs:complexType name="RunCustomType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="assertion"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="expression"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="params"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="VerifyCallType" substitutionGroup="mule:abstract-operator" name="verify-call"></xs:element>
  <xs:complexType name="VerifyCallType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="with-attributes">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-with-attribute"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="processor"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="withAttributes"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="times"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="atLeast"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="atMost"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SpyType" substitutionGroup="mule:abstract-operator" name="spy"></xs:element>
  <xs:complexType name="SpyType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="with-attributes">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-with-attribute"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="before-call">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="after-call">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="processor"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="withAttributes"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>